{% extends 'base.html.twig' %}


{% block body %}

    <div class="row justify-content-center" style=" background: rgb(44, 62, 80);">
        <div class="col-6" id="formLogin">

            <h1 style="text-align: center;color:white">Création d'un article</h1>

            <div class="row justify-content-center" style="padding-bottom: 5vh">
                <div class="col-4">
                    {% if(error is defined) %}
                        <div class="alert alert-warning" role="alert">
                            <div style="text-align: center">{{ error }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10" id="newArticle">
                    <form method="post" action="{{ path('blog_create')}}" enctype="multipart/form-data">
                        <label class="espace"><h5>Titre de l'article</h5></label>
                        <input type="text" name="titre" class="form-control espace" required>
                        <label class="espace"><h5>Contenu</h5></label>
                        <div class="row ">
                            <div class="col-12 espace">
                                <input type="button"  class="btn btn-default" value="G" style="font-weight: bold;" onclick="commande('bold');" />
                                <input type="button"  class="btn btn-default" value="I" style="font-style: italic;" onclick="commande('italic');" />
                                <input type="button" value="S"  class="btn btn-default" style="text-decoration: underline;" onclick="commande('underline');" />
                                <button type="button" value="JustifyLeft"  class="btn btn-default" onclick="commande('justifyleft');" ><i class="fa fa-align-left" aria-hidden="true"></i></button>
                                <button type="button" value="JC"  class="btn btn-default" onclick="commande('justifycenter');" ><i class="fa fa-align-center" aria-hidden="true"></i></button>
                                <button type="button" value="JR"  class="btn btn-default" onclick="commande('justifyright');" ><i class="fa fa-align-right" aria-hidden="true"></i></button>
                                <button type="button" value="J"  class="btn btn-default" onclick="commande('justifyright');" ><i class="fa fa-align-justify" aria-hidden="true"></i></button>
                                <input type="button" value="Lien"  class="btn btn-default" onclick="commande('createLink');" />
                                <div class="dropup" style="display: inline">
                                    <select class="btn btn-default dropdown-toggle" onchange="commande('heading', this.value); this.selectedIndex = 0;" style="color: black">
                                        <option value="" style="color: #212121">Titre</option>
                                        <option value="h1" style="color: #212121">Titre 1</option>
                                        <option value="h2" style="color: #212121">Titre 2</option>
                                        <option value="h3" style="color: #212121">Titre 3</option>
                                        <option value="h4" style="color: #212121">Titre 4</option>
                                        <option value="h5" style="color: #212121">Titre 5</option>
                                        <option value="h6" style="color: #212121">Titre 6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 espace">
                                <div id="editor" style="color: black" contenteditable="true">
                                </div>
                                <div style="text-align: center">
                                    <button class="btn btn-default" onclick="result()">Gérérer html</button>
                                </div>
                                <textarea name="contenu" id="contenuArea" class="editorArea"></textarea>

                            </div>

                        </div>

                        <label class="espace"><h5>Catégorie</h5></label>
                        <select class="btn btn-default espace" style="width: 100%;color:black" name="categorie">
                            {% for categorie in categories %}
                                <option value="{{ categorie.id }}" style="color: black">{{ categorie.title }}</option>
                            {% endfor %}
                        </select>
                        <label class="espace"><h5>Lien</h5></label>
                        <input type="text" name="lien" class="form-control espace">
                        <label class="espace"><h5>Image</h5></label>
                        <div class="input-group espace">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="image" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choisir fichier image</label>
                            </div>
                        </div>
                        <div style="text-align: center" class="espace">
                            <button type="submit" class="btn btn-outline-light btn-xl js-scroll-trigger" name="action" value="create" id="btnHoverNoir">Envoyer</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}