{% extends 'base.html.twig' %}


{% block body %}

<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">MoonJack - Vos commentaires</h1>
    </div>
    <div class="overlay"></div>
</header>

<div class="row justify-content-center" style="background: #212121">
    <div class="col-8">
        {% if(app.user) %}
            {{ form_start(commentaireForm) }}


            {{ form_row(commentaireForm.contenu,{"attr":{"placeholder": "Contenu" }}) }}

            <button type="submit" class="btn btn-success">Envoyer</button>

            {{ form_end(commentaireForm) }}
        {% else %}
            <p style="margin-top: 7vh;text-align: center">Vous ne pouvez pas commenter cet article si vous n'êtes pas connecté</p>
            <div  style="text-align: center">
                <a href="{{ path('security_login') }}">Vous connecter</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}